In [1]:
import pandas as pd
import calendar

In [3]:
dy = pd.read_csv("../data/year_predections.csv", index_col=0)
dy.head()

,leap_year_condition,decade,decade4,decade100,decade400,predicted_year_digit,predicted_year
93803,0,217,1,1,1,9,2179
110270,1,219,1,1,1,2,2192
15897,0,205,1,1,1,0,2050
78831,0,203,1,1,1,0,2030
68188,0,181,1,1,1,0,1810

In [4]:
dd = pd.read_csv("../data/day_predections.csv", index_col=0)
dd.head()

,weekday_name,month,century,century_year,leap_year_condition,predicted_days_group_index,correct_output
19729,3,2,0,8.0,1,0,4
18483,5,11,0,3.7,0,8,3
103614,6,7,1,5.6,1,9,7
8841,1,11,0,1.9,0,8,8
97054,5,3,0,1.2,1,9,6

In [6]:
# pd.concat([dd, dy])
df = dd[["weekday_name", "month", "predicted_days_group_index"]]
df["year"] = dy["predicted_year"]

KeyError: "None of [Index(['weekday_name', 'month', 'predicted_days_group_index'], dtype='object')] are in the [columns]"

In [7]:
df

NameError: name 'df' is not defined