In [3]:
import pandas as pd
import calendar

In [4]:
# list of all possibole (10) output lists, the output must be one of theses lists
groups = [[1, 8, 15, 22], 
         [2, 9, 16, 23], 
         [3, 10, 17, 24], 
         [4, 11, 18, 25], 
         [5, 12, 19, 26], 
         [6, 13, 20, 27], 
         [7, 14, 21, 28],
         [1, 8, 15, 22, 29], 
         [2, 9, 16, 23, 30], 
         [3, 10, 17, 24, 31]]
groups_dict = dict(enumerate(groups))
groups_dict

{0: [1, 8, 15, 22],
 1: [2, 9, 16, 23],
 2: [3, 10, 17, 24],
 3: [4, 11, 18, 25],
 4: [5, 12, 19, 26],
 5: [6, 13, 20, 27],
 6: [7, 14, 21, 28],
 7: [1, 8, 15, 22, 29],
 8: [2, 9, 16, 23, 30],
 9: [3, 10, 17, 24, 31]}

In [5]:
dy = pd.read_csv("../data/year_predections.csv", index_col=0)
dy.head()

,leap_year_condition,decade,decade4,decade100,decade400,predicted_year_digit,predicted_year
93803,0,217,1,1,1,9,2179
110270,1,219,1,1,1,2,2192
15897,0,205,1,1,1,0,2050
78831,0,203,1,1,1,0,2030
68188,0,181,1,1,1,0,1810

In [6]:
dd = pd.read_csv("../data/day_predections.csv", index_col=0)
dd.head()

,weekday_name,month,century,century_year,leap_year_condition,predicted_days_group_index,correct_output
19729,3,2,0,8.0,1,1,4
18483,5,11,0,3.7,0,8,3
103614,6,7,1,5.6,1,2,7
8841,1,11,0,1.9,0,8,8
97054,5,3,0,1.2,1,9,6

In [8]:
# pd.concat([dd, dy])
df = dd[["weekday_name", "month", "predicted_days_group_index"]]
df["year"] = dy["predicted_year"].copy()

C:\Users\huzyfa\AppData\Local\Temp/ipykernel_6108/3071978503.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["year"] = dy["predicted_year"].copy()

In [ ]:
df